# Exts
/tests/*.sqlite
/tests/*.sqlite-journal
/tests/*.json
/tests/*.txt
/files/*.txt

# Dirs
/vendor
/.sandbox
/files/cache/*
/files/tests/*

# Files
/stan.txt
/composer.lock
.htaccess
.phpunit.result.cache
/files/build_dev.sqlite
/files/build_dev.sqlite-journal
