# Exts
/*.bat export-ignore

# Dirs
/.git*          export-ignore
/tests          export-ignore
/files/template export-ignore
/files/sql      export-ignore
/files/other    export-ignore
/files/tests    export-ignore
/files/cache    export-ignore
/build          export-ignore
/bench          export-ignore
/readme         export-ignore

# Files
/bootstrap.dev.php      export-ignore
/files/links.php        export-ignore
/files/build_dev.sqlite export-ignore
/phpunit.xml            export-ignore
/phpstan.neon           export-ignore
/README.md              export-ignore